.index_wrap_layout {
  .main_title {
    font-size: 26px;
    line-height: 50px;
  }
  .content {
    ul {
      li {
        line-height: 40px;
        font-size: 16px;
        span.text {
          margin-right: 30px;
        }
      }
    }
  }
}
