.account_wrap {
    width: 500px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    .main_title {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 10px;
    }
    .user_content {
        
    }
}
